/* NAVIGATION */
.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 7px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

#menu {
  float: right;
  padding-right: 11px;
  padding-top: 11px;
  color: black;
}

/* TEXT */

h2 /* Headings */ {
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-align: center;
}

h3 /* CTAs */ {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: center;
}

h4 /* CTA text */ {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 10px 5px 50px 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h5 /* copyright */ {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 20px 20px 20px 20px;
  background-color: black;
  color: white;
}

p /* body text */ {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

blockquote {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 20px;
}

/* FORM */
label {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 18px;
}

.form {
  margin: 0 auto;
  min-width: 200px;
  max-width: 960px;
  padding: 20px 20px 60px 20px;
}

.row {
  padding-top: 30px;
}

/* SPACING */
.grid-x {
  min-width: 300px;
  max-width: 960px;
  margin: 0 auto;

}

/* IMG */
#marc {
  margin: 0;
}

/* BUTTONS */
.button {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;

}

/* FOOTER */
.footer {
  bottom: 0;
}


/* max-width 640px, mobile-only styles, use when QAing mobile issues */
