section, article, ul {outline:1px solid red; background: rgba(255, 0, 0, 0.5);}
.proof{border:1px; solid:red}
.grid-container {outline: 1px solid blue;}
@@media only screen and (max-width: 40em) {

h1{display: none;}

}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
